extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 Louis Cappell

        //- Feel free to personalize the title below
        p Full Stack Software Developer


        .about-bio


          p.aboutInfo The ultimate finished product begins with excellent communication and collaboration. I am a hardworking and dedicated self-taught software developer. Designing and building useful digital apps has always been a desire of mine. I spend most of my time researching web design technologies and creating some of the projects on this page. I have found a passion in web development and software engineering. Please feel free to take a look at my LinkedIn, Github and projects. Don't hesitate to contact me!


      .skills-contact-box.box
        h6 Skills

        //- Replace skills below with your own skills — at this point, you should be able to list as many as ten skills
        ul
          li HTML5
          li CSS3
          li JavaScript ES6
          li Git and GitHub
          li Node.js
          li Express
          li Pug Templating

        h6 Contact Info

        ul
          li +44 7826381914
          li louis.cappell@icloud.con

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        a.btn-link(href='https://www.linkedin.com/in/louis-cappell-b875a0180/' target="_blank") LinkedIn
        a.btn-link(href='https://github.com/LCappell' target="_blank") GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back