extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

      
        h1 Louis Cappell

        p Full Stack Software Developer


        .about-bio

        .aboutInfo 
          h3 The ultimate finished product begins with excellent communication and collaboration. 
          p I am a hardworking and dedicated self-taught software developer from the U.K. Designing and building useful digital apps has always been a desire of mine and now I spend most of my time researching web design technologies and creating some of the projects on this page. I have found a passion in web development and software engineering. 
          p Outside of staring at a computer. I am a big football fan, enjoy travelling to every part of the globe and love a great coffee! 
          <p> Please feel free to take a look at my <a href='https://www.linkedin.com/in/louis-cappell-b875a0180/'> LinkedIn,</a>
              <a href='https://github.com/LCappell'>  Github</a> and
              <a href='/')> Projects </a></p>
                p Let's get in touch!



      .skills-contact-box.box
        h6 Skills

       
        ul
          li HTML5
          li CSS3
          li JavaScript ES6
          li Git and GitHub
          li Node.js
          li Express
          li Pug Templating
          li Bootstrap 
          li JQuery

        h6 Contact Info

        ul
          li +44 7826381914
          li  
            a(href='mailto:louis.cappell@icloud.com') louis.cappell@icloud.com    


       
        a.btn-link(href='https://www.linkedin.com/in/louis-cappell-b875a0180/' target="_blank") LinkedIn
        a.btn-link(href='https://github.com/LCappell' target="_blank") GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back