extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
      
     

        

        h1 Louis Cappell

        p Full Stack Software Developer


        .about-bio

        .aboutInfo 
          h3 The ultimate finished product begins with excellent communication and collaboration. 
          p I am a hardworking and dedicated self-taught software developer from the U.K. Learning to code has been a difficult and arduous journey, however, I have never done something so rewarding. I have discovered a passion in software development, where I find myself excited to learn and develop my knowledge into a deep understanding of different technologies. 
          
          p Outside of staring at a computer. I am a big football fan, enjoy travelling to every part of the globe and love a great coffee! 
          <p> Please feel free to take a look at my <a href='https://www.linkedin.com/in/louis-cappell-b875a0180/'> LinkedIn,</a>
              <a href='https://github.com/LCappell'>  Github</a> and
              <a href='/')> Projects </a></p>
                p Let's get in touch!



      .skills-contact-box.box
        h6 Skills:

       
        ul
          li
            i.fab.fa-html5.fa-4x

          li 
            i.fab.fa-css3-alt.fa-4x
          li 
            i.fab.fa-js-square.fa-4x
          li 
            i.fab.fa-react.fa-4x
          li 
            i.fab.fa-git-square.fa-4x
          li 
            i.fab.fa-node-js.fa-4x
          li 
            img#sqlImage(src='images/sql-icon-image.png' alt='')
          //- li Express
          //- li Pug Templating
          //- li Bootstrap 
          //- li JQuery


        h6 Contact Info:

        ul
          li
            strong +44 7826381914
          li 
            strong
              a(href='mailto:louis.cappell@icloud.com') louis.cappell@icloud.com    


       
        a.btn-link(href='https://www.linkedin.com/in/louis-cappell-b875a0180/' target="_blank") LinkedIn
        a.btn-link(href='https://github.com/LCappell' target="_blank") GitHub
        a.btn-link(href='/downloads/LouisCappell_CV_main.pdf' download='') Download CV

        

    nav
      #nav-second
        a(href='/')
          span &larr;
          |  Back