extends layout.pug

block content



  article.portfolio-intro

    .aboutlink
          a(href='about') About &rarr;

    h1 Louis Cappell

    h3 Let's create the next big thing together! 
  
    p Below you can see the work I've done. Test anything for yourself by clicking on a project and clicking the Live Demo button! You can also check out my code by clicking the GitHub Repo button


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects 
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.project_name}`)
            h5= project.project_name 

