extends layout 

block content
    section

     .errorInfo
            h2= error.message
            a(href='/') Click here to return Home 
            h2= `Error status code: ${error.status}`
    img#errImg(src='/images/404error.png' alt="404 page not found image")